{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">{{ b.name }}</li>
</ol>
<a href="/article/create/{{ b.id }}" class="btn btn-primary">发表文章</a>
<br/>
<br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <th>作者</th>
      <th>创建时间</th>
      <th>最后更新时间</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td><a href="/article/detail/{{article.id }}">{{ article.title }}</a></td>
      <td>{{ article.content }}</td>
      <td>{{ article.create_timestamp|date:"Y-m-d P" }}</td>
      <td>{{ article.last_update_timestamp|date:"Y-m-d P" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<br/>
<br/>
<nav aria-label="...">
  <ul class="pagination">
    {% if page_data.has_previous %}
    <li><a href="?page_no=1" aria-label="Previous">首页</a></li>
    <li><a href="?page_no={{ page_data.previous }}" aria-label="Previous">&laquo;</a></li>
    {% endif %}
    {% for page in page_data.page_links %}
        <li{% if page == page_data.current_no %} class="active"{% endif %}><a href="?page_no={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if page_data.has_next %}
    <li><a href="?page_no={{ page_data.next }}" aria-label="Previous">&raquo;</a></li>
    <li><a href="?page_no={{ page_data.page_cnt }}" aria-label="Previous">尾页</a></li>
    {% endif %}    
  </ul>
</nav>
</div>
{% endblock %}
